.row{
    margin: 0;
    padding: 20px 20px 0 20px;
    background-color: #E4E4E6;
}

.projectContainer{
    width: auto;
    padding: 0 35px 20px 12px;
}

.projectInfo, .projectImg{
    display: inline-block;
    text-align: justify;
}

.projectImgCtrl{
    box-shadow: 10px 10px 1px #ab61b0;
}

.row h1, h2{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 8px;
}

.row p{
    padding-top: 11px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
}