<div class="row">
    <div class="edu-home">
        <h1>Educación</h1>
        <button type="button" class="btn btn-info" routerLink="/nuevaedu" *ngIf="isLogged">Agregar nueva educación</button>
    </div>
    <div class="xpJobs" *ngFor="let Educacion of educacion">
        <div class="exp-separator col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
        <ul>
            <div class="col-lg-2 explab-1">
                <div class="control-btns">
                    <div *ngIf="isLogged"><button class="edit-btn" routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i></button></div>

                    <div *ngIf="isLogged"><button class="delete-btn" (click)="delete(Educacion.id)"><i class="bi bi-trash-fill"></i></button></div>
                </div>
                <li>
                    <h1 class="expName">{{Educacion.nombreE}}</h1>
                    <p>{{Educacion.aniosE1}} - {{Educacion.aniosE2}}</p>
                </li>
            </div>
            <div class="expDesc col-lg-7">
                <p>{{Educacion.descripcionE}}</p>
            </div>
            
        </ul>
        <div class="exp-separator col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>
    </div>
</div>
<div class="endhr col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
</div>
    <!-- <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>{{Educacion.nombreE}}</td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged"><button routerLink="/editedu/{{Educacion.id}}"><i class="bi bi-pencil-square"></i></button></td>
                    <td *ngIf="isLogged"><button (click)="delete(Educacion.id)"><i class="bi bi-trash-fill"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
</div> -->
<!-- <div class="row">
    <h1>Mi educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11 xpEducation">
        <ul>
            <li>
                <h1>Educación x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
        <ul>
            <li>
                <h1>Educación x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
        <ul>
            <li>
                <h1>Educación x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
    </div>
</div>
 -->