.row{
    margin: 0;
    background-color: #bab9be;
}

div{
    padding: 20px 0 15px 0;
}

p{
    text-align: center;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 0.3;
    color: rgb(33, 36, 39);
}

a{
    text-decoration: solid;
}