<div class="row">
    <h1>Mi experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" routerLink="/nuevaexp" *ngIf="isLogged">Agregar nueva experiencia</button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of exp">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged"><button routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-square"></i></button></td>
                    <td *ngIf="isLogged"><button (click)="delete(Experiencia.id)"><i class="bi bi-trash-fill"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- <div class="col-lg-1"></div>
    <div class="col-lg-11 xpJobs">
        <ul>
            <li>
                <h1>Trabajo x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo x</h1>
                <span>(años)</span>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque cumque voluptates quidem. Rerum quidem nisi atque tempore, natus ipsum reprehenderit! Ipsum praesentium fugiat fuga facere id aspernatur, dolore consectetur ut?</p>
        </ul>
    </div> -->
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
</div>