<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
		<div class="wrapper">
		  <div class="title"><h3>Portfolio #YoProgramo</h3><span>Developer Login</span></div>
		  <form action="#">
			<div class="row">
				<i class="bi bi-person-circle icon"></i>
			  	<input type="text" placeholder="Nombre de usuario" required>
			</div>
			<div class="row">
				<i class="bi bi-key-fill icon"></i>
			  	<input type="password" placeholder="Contraseña" required>
			</div>
			<div class="row button">
			  	<input type="button" class="btn btn-success button" type="submit" value="Login">
			</div>
		  </form>
		</div>
	  </div>
</body>
</html>