#mainContainer{
    padding: 34px 20px 20px 20px;
    margin: 0;
}

div{
    background-color: #E4E4E6;
}

.row{
    padding: 0 80px;
    margin-top: 16px;
}

.row h1{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 8px;
}

hr{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}