.row{
    padding: 30px 7px;
    margin: 0px;
}

div{
    background-color: #E4E4E6;
}

#photoSub{
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 16px;
    padding-top: 7px;
    padding-right: 2px;
    line-height: 0.8;
    text-align: center;
}

#aboutme h1{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 25px;
}

#aboutme p{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0;
    padding: 0;
  }

@media (min-width: 576px){
    #pfp{
        width: 210px;
        border: 4px solid white;
        border-radius: 100%;
        position: absolute;
        bottom: -220px;
        z-index: 1;
    }
}

@media (max-width: 575px){
    #pfp{
        position: relative;
        border: 4px solid white;
        border-radius: 100%;
        width: 100%;
        box-shadow: 0px 7px 5px grey;
        top: -200px;
    }
}